<%- include('./partials/header.ejs')%>
<div class="container">
  <div class="row">
    <div class="col-sm-6 mt-5">
      <h2 class="alert alert-success text-centre" role="alert">
        Update  Student
      </h2>
      <form method="post" action="/student/update/<%= data._id %>">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="<%=data.name %>"/>
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input type="text" class="form-control" id="age" name="age"  value="<%=data.age %>"/>
        </div>
        <div class="mb-3">
          <label for="fees" class="form-label">fees</label>
          <input type="text" class="form-control" id="age" name="fees"  value="<%=data.fees %>"/>
        </div>
        <button type="submit" class="btn btn-warning">Update</button>
        <button type="submit" class="btn btn-secondary">Back To Home</button>
      </form>
    </div>
   
    </div>
  </div>
</div>
<%- include('./partials/header.ejs')%>